#CS50 Final Project Requirement
FINANCE PLANNER
=> Create a webapp to track income, expense, and saving goals. Include features such as visual charts and budget category analysis.

Functional Requirement:
(v) User Registration and Login
(v) Expense Tracking
(v) Income Tracking
(v) Reporting -> Use Graphs -> Expense/Income -> Sort by day/week/month/year
(x) Automatic Report by Month
(x) Budgeting -> Report for a weekly/yearly budget by category